.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--nav);
  height: 100%;
}

.Icon {
  height: 30px;
}

.Icon--search {
  height: 30px;
}

.active .Icon path {
  fill: var(--active) !important;
}

.active .Icon--search path {
  stroke: var(--active) !important;
}
