*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-rows: 7vh auto 8vh;
  height: 100vh;
  background-color: var(--body);
  color: var(--text);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nav);
  height: 100%;
  letter-spacing: 2px;
}

.content {
  overflow-y: scroll;
}
