*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.App {
  display: grid;
  grid-template-rows: 7vh auto 8vh;
  height: 100vh;
  background-color: var(--body);
  color: var(--text);
}

.header {
  background-color: var(--nav);
}
